# Application
APP_ENV=development
APP_URL=http://localhost:9999

# GitHub API
GITHUB_API_URL=https://api.github.com
GITHUB_API_VERSION=2026-09-19

# GitHub App
GITHUB_APP_ID=
GITHUB_APP_SLUG=orbit
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

# Security
ORBIT_RELAY_SECRET=