# Application
APP_ENV=development
APP_URL=http://localhost:9999

# GitHub API
GITHUB_API_URL=https://api.github.com
GITHUB_API_VERSION=2026-03-10

# GitHub App
GITHUB_APP_ID=
GITHUB_APP_SLUG=orbit-project-management
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

# Github OAuth App
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:9999/v1/github/callback

# Security
ORBIT_RELAY_SECRET=